*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    display: flex;
    justify-content: space-between;
    border: 2px solid rebeccapurple;
    width: 100vw;
    height: 100vh;
    background-color: #E8EAF1;
    overflow-x: auto;
    overflow-y: hidden;
}

.textarea{
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #EFF1F5;
    margin: 20px;
    margin-top: 20px;
    font-size: 30px;
}